*{
    margin: 0px;
    padding: 0px;
}
 .nav{
     margin: 0px;
     padding-left: 50px;
    background: purple;
    line-height: 80px;
    width: 100%;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1px;
}
body{
background-color: lavender;
}
.sidemenu{
background-color: powderblue;
margin: 40px;
padding: 30px;

}
sidemenu h2{
text-align: center;
padding-left: 20px;

}
a.bh{
    color: blue;
    font-weight: bolder;
    font-size: 20px;
}
a.bh:hover{
   color:red;
}